{% extends "SrsNewsBundle::layout.html.twig" %}
{% block title %}
    Lecture d'une news - {{ parent() }}
{% endblock %}
{% block srsnews_body %}
    <h2>{{ news.title }}</h2>
    <i>Par {{ news.autor }}, le {% if news.dateModification %}{{ news.dateModification|date('Y-m-d H:i:s') }} {% else %} {{ news.dateModification|date('Y-m-d H:i:s') }} {% endif%}</i>
    
    <div class="well">
        {{ news.body }}
    </div>
    <p>
        <a href="{{ path('srs_news_index') }}" class="btn"><i class="icon-chevron-left"></i></a>
        <a href="{{ path('srs_news_modify', {'id': news.id }) }}" class="btn"><i class="icon-edit"></i></a>
        <a href=" {{ path('srs_news_remove', {'id': news.id }) }}" class="btn"><i class="icon-trash"></i></a>
    </p>
    <p>
        {% for tag in news.tags %}
            <a style="margin-top: 5px;" href="{{ path('srs_tag_index', {'id': tag.id }) }}" class="btn btn-info"><i>{{tag.name}}</i></a>
        {% endfor %}
    </p>
    <p>
        <h4>Commentaires :</h4>            
        {% for comment in news.comments %}
            <i>Par {{ comment.autor }}, le {{ comment.dateCreation|date('Y-m-d H:i:s') }}{% if comment.dateModification %}{{ ' modifié le '~comment.dateModification|date('Y-m-d H:i:s') }} {% endif%}</i>
            <div class="well">
                {{ comment.body }}
            </div>
        {% endfor %}
        <b>Commentez cette news :</b><br/>
        <textarea style="width:100%;height:100px"></textarea>
        <a href="{{ path('srs_comment_add') }}" style="float:right" class="btn">Publiez votre commentaire</a>
    </p>
    {# include "SrsCommentBundle:Form:formulaire.html.twig" #}
{% endblock %}